page-profile {


   
    p {
        text-align: center;
        color: white;
        font-size: 1.8rem;
      }
    
      p a {
        color: $blue;
      }    

      h2 {
        text-align: center;
        color: white;
        margin-bottom: 10px;
      }
      .wrapper {
        background-color: transparent;
      }
    
      ion-icon{
        align-self: center;
      }
     
    
    
}
