page-quarto-detail {
    p {
        text-align: center;
        color: white;
        font-size: 1.8rem;
      }
    
    p a {
        color: $blue;
      }

    ion-card-title{

        text-align: center;
        color: white;


    }
}
